@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 13vh 77vh 10vh;
    font-family: 'Mitr', sans-serif;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;

}

ul {
    list-style: none;
    align-self: end;
    padding-bottom: 15px;
}

li {
    margin-left: 50px;
    font: 1.563rem bolder;
    font-family: 'Mitr', sans-serif;
;
    color: inherit;
    text-decoration: underline 3px rgba(109, 178, 63, 0);
    transition: text-decoration-color 300ms;
}

li:hover {
    color: #6DB23F;
    text-decoration-color: rgba(109, 178, 63, 1);
    cursor: pointer;
}

.home {
    display: flex;
    align-items: center;
    background: url("../assets/chicken-nuggets.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 80vh;
}

.info-box {
    margin-left: 300px;
    background-color: #000000;
    color: #ffffff;
    opacity: .85;
    padding: 30px 40px;
    max-width: 700px;
}

.info-box > p {
    font-size: 1.25rem;
}

h1 {
    color: #6DB23F;
    font-size: 3.052rem
}

h2 {
    font-size: 3.815rem;
}

main {

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF327;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.tab-list {
    display: flex
}

